<h1>Submissions</h1>
<% if @submissions.any? %>
<table class="table submission-list">
  <thead>
    <tr>
      <th>#</th>
      <th>Problem</th>
      <th>Verdict</th>
      <th>Run Time</th>
      <th>Submission Date</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each do |s| %>
    <tr>
      <td><%= link_to(s.id, submission_path(s)) %></td>
      <td><%= link_to(s.problem.title, problem_path(s.problem)) %></td>
      <%= verdict_tag(s.status) %>
      <td><%= s.time_cost %></td>
      <td><%= s.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @submissions, renderer: BootstrapPagination::Rails, bootstrap: 3 %>
<% else %>
<p>No submissions</p>
<% end %>