<h1 class="page-header">Submissions #<%= @submission.id %></h1>
<div class="submission-info">
  <div class="row">
    <div class="col-lg-2">Date</div>
    <div class="col-lg-10">
      <%= @submission.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">Judged Date</div>
    <div class="col-lg-10">
      <%= @submission.updated_at.strftime('%Y/%m/%d %H:%M:%S') %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">Verdict</div>
    <div class="col-lg-10"><%= @submission.friendly_status %></div>
  </div>
  <div class="row">
    <div class="col-lg-2">Time Cost</div>
    <div class="col-lg-10"><%= @submission.time_cost %></div>
  </div>
  <div class="row">
    <div class="col-lg-2">Message</div>
    <div class="col-lg-10">
      <%= content_tag(:pre, @submission.msg) unless @submission.msg.nil? %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">Source Code</div>

  </div>
  <div class="row">
    <div class="col-lg-12">
        <%= raw(CodeRay.highlight_file(@submission.source_path)) %>
    </div>
  </div>
</div>
