<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
  <%= render_page_title %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Judgeman" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="An online judge system for Introduction to Programming course" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= image_url('sslab_logo.png') %>" />
  <meta name="norton-safeweb-site-verification" content="sbhtoqyyglrsyg-0uvfqw0khtigea63l29m5dzc5k2ruo-adryl-zvyz50x90yzy6qyt81dc6qtj0umvn9cg73h7z957yfxjv6oip06v5ik9nxjezfr0bje59ho1h9x-" />
</head>
<%= render_body_tag %>
  <div class="wrap">
    <%= render 'shared/navbar' %>
    <div class="container">
      <%= notice_message %>
      <%= yield %>
    </div>
  </div>
  <%= render 'shared/footer' %>
  <%= render 'shared/analytics' %>
</body>
</html>
